.dahboard-hair{

.h-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 83px;
    padding-left: 3%;
    padding-right: 3%;
    .first{
display: flex;
align-items: center;
.logo{
    margin-left: 20px;
}
    }
    .last{
        display: flex;
align-items: center;
        .f-label{
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: center;
            border: 2px solid #FFFFFF;
border-radius: 20px;
            color: #FFFFFF;
            width: 111px;
            justify-content: center;
            height: 37px;
            margin-bottom: 0px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            transition: 1s;
            z-index: 20;
            &:hover{
            
            }
            &:after {
              background: white;
              content: "";
              height: 155px;
              left: -75px;
              opacity: 1;
              position: absolute;
              top: -50px;
              width: 50px;
              -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
              -webkit-transform: rotate(35deg);
                  -ms-transform: rotate(35deg);
                      transform: rotate(35deg);
              z-index: -10;
            }
            
            &:hover:after {
              left: 120%;
              -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
                      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
            }
            
            
        }
        .l-label{
            font-style: normal;
font-weight: 800;
font-size: 14px;
line-height: 17px;
margin-left: 10px;
display: flex;
align-items: center;
text-align: center;
background: #FFFFFF;
border: 2px solid #FFFFFF;
border-radius: 20px;
color: #000000;
width: 90px;
justify-content: center;
height: 37px;
margin-bottom: 0px;

overflow: hidden;
position: relative;
cursor: pointer;
transition: 1s;
z-index: 20;
&:hover{

}
&:after {
  background: rgb(59, 59, 59);
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

&:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

        }
    }
}
.dash-section{
    background-color: black;
    display: flex;
    height: 59vh;
    .downarrow{
        display: none ;
    }
    .section-two{
        // background-image: url('../../Logo/sidebanner.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 50%;
        height: 59vh;
        display: flex;
        display: flex;
        justify-content: end;
        align-items: end;
      
        img{
            
    width: 82%;
    height: 95%;
    object-fit: fill;

    
        }

        
    }
  .section-one{
      width: 100%;
      display: flex;
      flex-direction: column;
     align-items: center;
      justify-content: center;
      padding-left: 3%;
      h3{
          display: none;
      }
      h4{
        display: none;
    }
    h5{
        display: none;
    }
      h1{
        font-style: italic;
        font-weight: bold;
        font-size: 45px;
    
        display: flex;
        align-items: center;
        text-align: center;
        
        color: #FFFFFF;

     

     
      }
      h2{
        font-family: Montserrat;
        font-style: italic;
        font-weight: bold;
        font-size: 90px;

        display: flex;
        align-items: center;
        text-align: center;
        
        color: #C9AB57;
    }
    p{
        font-style: normal;
font-weight: 500;
font-size: 20px;

/* or 200% */
margin-bottom: 0;
display: flex;
align-items: center;

color: #FFFFFF;
    }
    label{
        border: 2px solid #FFFFFF;
border-radius: 20px;
display: flex;
align-items: center;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
display: flex;
align-items: center;
width: 221px;
height: 50px;
justify-content: center;
margin-bottom: 0;
margin-top: 3rem;
color: #FFFFFF;
overflow: hidden;
position: relative;
cursor: pointer;
transition: 1s;
z-index: 20;
&:hover{

}
&:after {
  background: white;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 1;
  position: absolute;
  top: -50px;
  width: 50px;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  z-index: -10;
}

&:hover:after {
  left: 120%;
  -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

img{
    margin-right: 10px;
}
    }
  }  
}

.cards
{
    display: flex;
    justify-content: space-between;
    height: calc(41vh - 83px);
padding-left: 3%;
padding-right: 3%;
padding-top: 1%;
padding-bottom: 1%;
    .cards-tite{
        
cursor: pointer;
        width: 32.33%;
        display: flex;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding-left: 1.5%;
        transition: all 0.3s ease-out;
        background-color: black;
        &:hover{
            position: relative;
            top: -4px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.8);
        }
        
&:nth-child(2)
{
    background-color: white;  
    border: 0.5px solid #E7E7E7;
}

.image-container{
    display: flex;
 justify-content: end;
 height: 100%;
}

        img{
          
    object-fit: contain;
    width: 100%;
    height: 100%;

        }
       
   .sub-card{
   
   }
   p{
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
  
    display: flex;
    align-items: center;
    
    color: white  ;
    margin-bottom: 0;
   
    
   }  
    }
 
   h5{
    font-style: italic;
    font-weight: 800;
    font-size: 50px;

    display: flex;
    align-items: center;
    margin-bottom: 0;
    color: #C9AB57; 
   }
}
}


@media only screen and (max-width: 800px) {
    .dahboard-hair{


        .h-navbar{
       position: relative;
            align-items: center;
            justify-content: center;
            background-color: black;
            height: 83px;
            padding-left: 7%;
            padding-right: 7%;
            .burger{
                position: absolute;
                left: 18px;
                top: 27px;
            }
            .first{
        display: flex;
        align-items: center;
        .logo{
            margin-left: 20px;
        }
            }
            .last{
                display: none !important;
        align-items: center;
                .f-label{
                    
                    display: none !important;
                    
                    
                }
                .l-label{
      
        
                }
            }
        }
        .dash-section{
            background-color: black;
            display: flex;
            height: calc(100vh - 83px);
            .downarrow{
                position: absolute;
                bottom: 23px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                a{
                    font-style: normal;
font-weight: 800;
font-size: 14px;

/* or 229% */
cursor: pointer;
text-decoration:none ;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
                }
            }
            .section-two{
                // background-image: url('../../Logo/sidebanner.png');
                background-size: 100% 100%;
                background-repeat: no-repeat;
                width: 50%;
                height: calc(100vh - 83px);
                display: none;
            
                justify-content: end;
                align-items: end;
                img{
                    
            width: 82%;
            height: 95%;
            object-fit: fill;
        
            
                }
        
                
            }
          .section-one{
              width: 100%;
              display: flex;
              flex-direction: column;
             
              justify-content: center;
              padding-left: 7%;
              padding-right: 7%;
              label{
                  margin-bottom: 88px;
              }
              h1{
                font-style: italic !important;
                font-style: normal;
                font-weight: 500;
                font-size: 21px;
            margin-bottom: 0;
                display: flex;
                align-items: center;
                
                color: #FFFFFF;
        
                span{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 61px;
                    display: flex;
                    align-items: center;
                    margin-right: 8px;
                    margin-left: 8px;
                    color: #C9AB57;
                    margin-bottom: 0;
                }
        
             
              }
              h5{
           
                font-weight: bold;
                font-size: 70px;
               margin-bottom: 0;
                display: flex;
                align-items: center;
                
                color: #C9AB57;
              }
              h4{
              
                font-weight: bold;
                font-size: 70px;
               margin-bottom: 1.5rem;
                display: flex;
                align-items: center;
                
                color: #FFFFFF;
              }
              h2{
                
        font-weight: bold;
        font-size: 38px;
        
      
        align-items: center;
        
        color: #C9AB57;
            }
            p{
               
        font-weight: 500;
        font-size: 15px;
        
        /* or 200% */
        margin-bottom: 0;
        display: none;
        align-items: center;
        
        color: #FFFFFF;
            }
      h3{
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        
        /* or 200% */
        margin-bottom: 0;
        display: flex;
        align-items: center;
        
    line-height: 29px;

        color: #FFFFFF;
      }
    
        
        img{
           
        }
            }
          }  
        }
        
        .cards
        {
            display: flex !important;
            align-items: center;
            flex-direction: column;
            justify-content:center !important;
            height: 100vh !important;
        padding-left: 7%;
        padding-right: 7%;
            .cards-tite{
          
                width: 100% !important;
                height: 30%;

            }
            img{
                width:300px;
            }
            h5{
              
                font-style: normal;
                font-weight: normal;
   
    line-height: 22px;
    margin-bottom: 0;
    font-size: 30px !important;
    align-items: center;
    text-align: start;
    margin-top: 10px;
    color: #000000;

            }
           p{
            font-style: normal;
            font-weight: bold;
            font-size: 14px !important;
    
            /* or 286% */
            margin-bottom: 0;
      
            align-items: center;
            text-align: center;
            margin-top: 10px;
            color: #000000;
            
            
           } 
        }
        
        
  }
  